.page-wrapper {
  background-color: #1f2632;
  height: 100vh;
  display: flex;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.page-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323a49;
  border-radius: 25px;
  margin: 40% 10%;
  padding: 80px 15px;
}

.page-head {
  color: #52ffa8;
  font-size: 12px;
  font-weight: normal;
}

.content-text {
  color: #cee3e9;
  font-size: 20px;
  font-weight: 800;
}

.btn {
  background: none;
  color: #52ffa8;
  border: none;
  cursor: pointer;
  font-size: 50px;
}

.btn:hover {
  -webkit-filter: brightness(150%);
  filter: brightness(150%);
}

.hr {
  width: 100px;
}

@media (min-width: 1000px) {
  .page-wrapper {
    min-height: 100vh;
  }

  .container {
    max-width: 980px;
    margin: auto;
  }
  .page-head {
    color: #52ffa8;
  }

  .content-text {
    color: #cee3e9;
    font-size: 28px;
    font-weight: 800;
  }

  .page-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #323a49;
    border-radius: 25px;
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 80px 15px;
  }
}
